﻿/*
font-family: 'Roboto', sans-serif;
font-family: 'Arimo', sans-serif; == HelveticaNeueL
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
*/
body {
	font-family: 'Arimo', sans-serif;
	font-weight: 400;
	margin:0;
	padding: 0;
}
p, div, h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0; 
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0; 
}
a{
	text-decoration: none;
	color: #979797;
}
.section{
	max-width: 2560px;
} 
.footer{
	max-width: 2560px;
	text-align: center;
} 
.container{
	width: 1171px;
	margin: 0 auto;
}
/*header*/
.header{
	text-align: center;
	max-width: 2560px;
}
.menu_items{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #979797;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13px;
	align-items: center;
}
li.menu_item:last-child{
	margin-right: 0;
}
li.menu_item:nth-child(4){
	font-size: 36px;
	font-family: 'Arial', serif;
	font-weight: bold;
	box-sizing: border-box;
	background-color: #121212;
	color: #fff;
	padding: 12px;
	line-height: 24px;
	margin-right: 57px;
}
li.menu_item:nth-child(4) a{
	color: #fff;
}
li.menu_item:nth-child(3){
	margin-right: 57px;
}
.menu_item{
	margin-right: 42px;
}
h1{
	margin-top: 300px;
	font-weight: 300;
	font-size: 44px;
}
.header_paragraph{
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 16px;
	color: #888;
}
.read_more{
	display: inline-block;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #000;
	border: 1px solid #000;
	padding: 21px 51px;
	margin-top: 42px;
}
.anchor_container{
	margin-top: 305px;
	padding-bottom: 92px;
}
.anchor_container a{
	display: block;
	width: 12px;
	height: 12px;
	margin: 0 auto; 
	border-radius: 50%;
	background-color: #d0d0d0;
}
.anchor_container a:first-child{
	background-color: #e0e0e0;
}
.anchor_container a:last-child{
	margin-top: 12px;
}
.anchor_container a:hover{
	animation-name: anchor_hover_animation;
	animation-duration: 0.35s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes anchor_hover_animation{
	0%{
		background-color: #e0e0e0;
	}
	100%{
		background-color: #df0049;
	}
}
a.item:hover{
	animation-name: menu_item_hover_animation;
	animation-duration: 0.35s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
a.logo:hover{
	animation-name: logo_hover_animation;
	animation-duration: 0.75s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
a.read_more:hover{
	animation-name: read_more_button_animation;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes read_more_button_animation
{
	0%{
		background-color: none;
		color: #000;
	}
	100%{
		background-color: #000;
		color: #fff;
	}
}
@keyframes menu_item_hover_animation
{
	0%{ 
		color: #979797;
	}
	100%{
		color: #010101;
	}
}
@keyframes logo_hover_animation
{
	0%{ 
		font-size: 36px;
	}
	100%{
		font-size: 42px;
	}
}
/*header_end*/
/*Section_1*/
.about_us > .container{
	padding-bottom: 360px;
}
.about_us{
	position: relative;
	background-color: #1d1d1d;
	overflow: hidden;
}
.town_bg{
	max-width: 100%;
	position: absolute;
	margin: 0 auto;       /*Выравниваем абсолютно позиционированый элемент по центру*/
	bottom: -5px;            /*Выравниваем абсолютно позиционированый элемент по центру*/
	left: 2px;            /*Выравниваем абсолютно позиционированый элемент по центру*/
	right: 0;     
}
.main_line{
	text-align: center;
	position: absolute; 
	width: 46px;
	margin: 0 auto;       /*Выравниваем абсолютно позиционированый элемент по центру*/
	top: 0;               /*Выравниваем абсолютно позиционированый элемент по центру*/
	bottom: 0;            /*Выравниваем абсолютно позиционированый элемент по центру*/
	left: 0;              /*Выравниваем абсолютно позиционированый элемент по центру*/
	right: 0;             /*Выравниваем абсолютно позиционированый элемент по центру*/
}
.circle, .vertical_line{
	margin: 0 auto;
}
.circle{
	border: 5px solid #fff;
	border-radius: 50%;
}
.vertical_line{
	width: 1px;
	background-color: #fff;
	border: 2px solid #fff;
}
.circle{
	width: 14px;
	height: 14px;
}
.circle:nth-child(6){
	width: 36px;
	height: 36px;
}
.vertical_line:nth-child(1){
	height: 151px;
}
.vertical_line:nth-child(3){
	height: 97px;
}
.vertical_line:nth-child(5){
	height: 209px;
}
.vertical_line:nth-child(7){
	height: 209px;
}
.vertical_line:nth-child(9){
	height: 450px;
}
.info_container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	padding-top: 151px;
	width: 941px; 
}
.info{
	width: 392px;
	min-height: 245px;
}
.year{
	font-family: 'Arial', sans-serif;
	font-size: 48px;
	color: #fff;
}
.info p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #b7b7b7;
	margin-top: 15px;
}
.sub_container_left{
	text-align: right;
}
.sub_container_left h2{
	text-align: right;
}
.sub_container_left .info:nth-child(2){
	margin-top: 120px;
}
.sub_container_right .info:nth-child(1){
	margin-top: 120px;
}
.sub_container_right .info:nth-child(2){
	margin-top: 250px;
}
/*Section_1_end*/
/*Section_2*/
.team{
	text-align: center;
}
.team_info{
	margin-top: 90px;
	font-size: 34px;
	font-weight: 300;
	color: #1e1e1e
}
.team_info_message{
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 16px;
	color: #888;
}
.team_member h2{
	margin-top: 25px;
	font-size: 24px;
	color: #464646;
}
.team_member p{
	font-size: 13px;
	color: #b3b3b3;
}
.icon{
	font-size: 26px;
	color: #1e1e1e;
}
i.icon:hover{
	animation-name: member_socila_media_animation;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
@keyframes member_socila_media_animation
{
	0%{ 
		color: #1e1e1e;
	}
	100%{
		color: #df0049;
	}
}
.team_member img{
	filter: grayscale(100%);
}
.team_member:first-child, .team_member:last-child{
	margin-top: 90px;
}
.team_container{
	margin-top: 120px;
	display: flex;
	justify-content: space-between;
	padding-bottom: 115px;
}
.member_socila_media{
	display: flex;
	width: 60px;
	justify-content: space-between;
	margin: 20px auto 0;
}

/*Section_2_end*/
/*Section_3*/
.services{
	position: relative;
	overflow: hidden;
	text-align: center;
}
.services_background{
	min-width: 100%;
	max-height: 100%;
	position: absolute;
	margin: 0 auto;       /*Выравниваем абсолютно позиционированый элемент по центру*/
	bottom: 0;            /*Выравниваем абсолютно позиционированый элемент по центру*/
	left: 0;            /*Выравниваем абсолютно позиционированый элемент по центру*/
	right: 0;
	top: 0;
	z-index: -25;
}
.bg_text_container{
	height: 525px;
	position: absolute;
	margin: 0 auto;       /*Выравниваем абсолютно позиционированый элемент по центру*/
	bottom: 0;            /*Выравниваем абсолютно позиционированый элемент по центру*/
	left: 0;            /*Выравниваем абсолютно позиционированый элемент по центру*/
	right: 0;
	top: 300px;
	overflow: hidden;
	margin-top: 687px;
	z-index: -5;
}
.bg_text{
	padding-bottom: 40px;
	position: absolute;
	margin: 0 auto;       /*Выравниваем абсолютно позиционированый элемент по центру*/
	bottom: -775px;            /*Выравниваем абсолютно позиционированый элемент по центру*/
	left: 30px;            /*Выравниваем абсолютно позиционированый элемент по центру*/
	right: 0;
	z-index: -5;
	animation-name: bg_text_move;
	animation-duration: 70s;
	animation-iteration-count: infinite;
}
.services_info{
	margin-top: 255px;
	color: #fff;
}
.services_info_message{
	color: #777;
}
.services_container{
	margin-top: 215px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.service_container{
	width: 340px;
}
.service_container:hover > .service_icon{ 
	color: #df0049;
	border-color: #df0049;
}
.service_container:hover > h2{ 
	color: #df0049;
	border-color: #df0049;
}
.service_container h2{
	margin-top: 40px;
	font-size: 26px;
	color: #fff;
}
.service_container p{
	margin-top: 28px;
	font-size: 18px;
	color: #383838;
}
.service_icon{
	font-size: 67px;
	color: #fff;
	padding: 53px;
	border: 7px solid #fff;
	border-radius: 50%;
}
.visit_button{
	display: inline-block;
	margin: 475px auto 0; 
	font-size: 16px;
	color: #424242;
	text-transform: uppercase;
	padding: 25px 42px;
	background-color: #fff;
	margin-bottom: 300px;
}
.visit_button:hover{
	animation-name: visit_button_hover_animation;
	animation-duration: 2.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
@keyframes visit_button_hover_animation
{
	0%{
		padding: 25px 42px;
	}
	25%{
		padding: 25px 10px;
	}
	50%{
		padding: 25px 25px;
	}
	75%{
		padding: 25px 10px;
	}
	100%{
		padding: 25px 42px;
	}
}
@keyframes bg_text_move
{
	0%{
		bottom: -775px;
	}
	100%{
		bottom: 0px;
	}
}
/*Section_3_end*/
/*Section_4*/
.contact_us_container{
	text-align: center;
}
.contact_us{
	color: #1e1e1e;
	font-size: 34px;
	margin-top: 90px;
}
.contact_us_message{
	margin-top: 10px;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	font-weight: 300;
	color: #888;
}
.contacts_container{
	display: flex;
	width: 545px;
	flex-direction: row;
	justify-content: space-between;
	margin: 60px auto 0; 
}
.contact_icon{
	font-size: 25px;
	color: #323232;
}
.contact_container:hover > p i{
	color: #df0049;
}
.contact_container{
	width: 130px;
}
.contact_info{
	margin-top: 10px;
	font-size: 12px;
	color: #a4a4a4;
}
form{
	display: flex;
	height: 480px;
	width: 770px;
	margin: 150px auto 0;
	flex-direction: column; 
	justify-content: space-between;
	padding-bottom: 150px; 
}
p input{
    -webkit-appearance: none;
	outline:0;
	border: 1px solid #999; 
	text-align: center;
	width: 770px;
	font-size: 15px;
	color: #888;
	padding: 18px 0;
}
textarea{
    -webkit-appearance: none;
	outline:0;
	box-sizing: border-box;
	width: 770px;
	height: 195px;
	font-family: 'Arimo', sans-serif;
	font-weight: 300;
	font-size: 15px;
	resize: none;
	padding: 22px 22px;
	border: 1px solid #999;
}
.submit_button{
    -webkit-appearance: none;
	background-color: #161616;
	font-size: 17px;
	font-weight: 700;
	color: #fff;
}
.submit_button:hover{
	animation-name: submit_button_hover_animation;
	animation-duration: 2.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
@keyframes submit_button_hover_animation
{
	0%{
		width: 100%;
	}
	25%{
		width: 87%;
	}
	50%{
		width: 100%;
	}
	75%{
		width: 74%;
	}
	100%{
		width: 100%;
	}
}
/*Section_4_end*/
/*Footer*/
.footer p{
	margin: 0 auto;
	font-size: 14px;
	color: #3b3b3b;
	padding-bottom: 50px;
}
/*Footer_end*/
/*---------------------------------------*/
/*---------------------------------------*/
/*Медиазапросы*/
/*Media Query 320 - 800*/
@media (min-width: 320px) and (max-width: 800px){
	.section{
		min-width: 320px;
	} 
	.container{
		width: 95%;
		margin: 0 auto;
	}
	/*header*/
	.header{
		text-align: center;
		min-width: 95%;
	}
	.footer{
		min-width: 320px;
	}
	.menu_items{
		flex-direction: column;
	}
	.menu_item{
		margin: 25px 0 auto !important; 
		font-size: 24px;
	}
	.menu_item:nth-child(4){
		order: -1;
	}
	.header h1{
		margin-top: 90px;
	}
	.anchor_container{
		margin-top: 80px;
		padding-bottom: 80px;
	}
	.vertical_line:nth-child(9){
		height: 370px;
	}
	.info_container{
		width: 100%;
	}
	.info{
		width: 85%;
	}
	.info p{
		margin-top: 0;
	}
	.sub_container_left{
		width: 45%;
	}
	.sub_container_right{
		width: 45%;
	}
	.sub_container_left .info:nth-child(2){
		margin-top: 120px;
	}
	.sub_container_right .info:nth-child(1){
		margin-top: 120px;
		margin-right: 1px;
	}
	.sub_container_right .info:nth-child(2){
		margin-top: 250px;
	}
	.town_bg {
		max-width: 100%;
		left: 0px;
	}
	.about_us > .container {
		padding-bottom: 180px;
	}
	.team_container {
		margin-top: 0;
		flex-direction: column;
		padding-bottom: 0;
	}
	.team_member{
		margin-top: 30px !important;
	}
	.services_container{
		flex-direction: column;
		margin-top: 25px;
		align-items: center;
	}
	.bg_text_container{
		display: none;
	}
	.service_container{
		margin-top: 25px;
	}
	.visit_button{
		margin: 50px auto 100px;
	}
	.contacts_container{
		flex-direction: column;
		align-items: center;
		width: 95%; 
	}
	.contacts_container{
		margin-top: 30px;
	}
	.contact_container{
		margin-top: 25px;
	}
	form{
		width: 95%;
		margin-top: 90px;
		padding-bottom: 100px;
	}
	form input{
	    -webkit-appearance: none;
		box-sizing: border-box;
		width: 100%;
	}
	textarea{
		width: 100%;
	}
	.contact_info{
		font-size: 20px;
	}
	.contact_icon{
		font-size: 40px;
	}
	.contact_container{
		width: 100%;
	}
}
/*Media Query 320 - 800 end*/
/*Media Query 801 - 1170*/
@media (min-width: 801px) and (max-width: 1170px){
	.section{
		min-width: 801px;
	} 
	.container{
		width: 95%;
		margin: 0 auto;
	}
	/*header*/
	.header{
		text-align: center;
		min-width: 95%;
	}
	.footer{
		min-width: 801px;
	}
	.info_container{
		width: 100%;
	}
	.info{
		width: 85%;
	}
	.info p{
		margin-top: 0;
	}
	.sub_container_left{
		width: 45%;
	}
	.sub_container_right{
		width: 45%;
	}
	.sub_container_left .info:nth-child(2){
		margin-top: 120px;
	}
	.sub_container_right .info:nth-child(1){
		margin-top: 120px;
		margin-right: 1px;
	}
	.sub_container_right .info:nth-child(2){
		margin-top: 250px;
	}
	.town_bg {
		max-width: 100%;
		left: 0px;
	}
	.about_us > .container {
		padding-bottom: 180px;
	}
	.team_container {
		margin-top: 25px;
		padding-bottom: 0;
	}
	.services_container{
		margin-top: 25px;
	}
	.bg_text_container{
		display: none;
	}
	.service_container{
		margin-top: 25px;
	}
	.visit_button{
		margin: 50px auto 100px;
	}
	.contact_info{
		font-size: 20px;
	}
	.contact_icon{
		font-size: 40px;
	}
	.contact_container{
		width: 100%;
	}
}
/*Media Query 801 - 1170 end*/
/*Медиазапросы*/
/*
div {
	border: 1px solid red; 
}
*/


